# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Intellij folder
.idea

# Ingnore VScode settings
.vscode

# Ignore tokens
tokens/StoredCredential